   <div class="ml-3">
        <hr>
        <h2>Movie details</h2>
        <hr>
        <div class="container">
          <div class='conjuntoCompleto'>
          <div class="seccionP">
                  <h3 style="text-decoration: underline;" >Avatar</h3>
                  <h5>Director: James Cameron </h5>
                  <h5>Writer: James Cameron </h5>
                  <h5>Actors: Sam Worthington, Zoe Saldana, Sigourney Weaver, Stephen Lang </h5>
                  <h6>Plot: A paraplegic marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.</h6> 
                  <h6>Awards: Won 3 Oscars. Another 80 wins & 121 nominations.</h6>
                  <h6>Country: USA,UK</h6>
                    </div>
                  <div class="seccionP">
              
                    <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjEyOTYyMzUxNl5BMl5BanBnXkFtZTcwNTg0MTUzNA@@._V1_SX1500_CR0,0,1500,999_AL_.jpg" class="rounded float-right" class="center" alt="Avatar" height="210" width="210">
  
                  </div>
          </div>
          <hr>
        <div class="container">
          <div class='conjuntoCompleto'>
          <div class="seccionP">
                  <h3 style="text-decoration: underline;" >I Am Legend</h3>
                  <h5>Director: Francis Lawrence </h5>
                  <h5>Writer: Mark Protosevich (screenplay), Akiva Goldsman (screenplay), Richard Matheson (novel), John William Corrington, Joyce Hooper Corrington</h5>
                  <h5>Actors: Will Smith, Alice Braga, Charlie Tahan, Salli Richardson-Whitfield </h5>
                  <h6>Plot: Years after a plague kills most of humanity and transforms the rest into monsters, the sole survivor in New York City struggles valiantly to find a cure.</h6> 
                  <h6>Awards: 9 wins & 21 nominations. </h6>
                  <h6>Country: USA</h6>
                  </div>
                  <div class="seccionP">
                    <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTI0NTI4NjE3NV5BMl5BanBnXkFtZTYwMDA0Nzc4._V1_.jpg" class="rounded float-right" class="center" alt="I'm legend" height="210" width="210">
                  </div>
          </div>
          </div>
          </div>
          <hr>
          <div class="container">
               <div class='conjuntoCompleto'>
               <div class="seccionP">
                       <h3 style="text-decoration: underline;" >300</h3>
                       <h5>Director: Zack Snyder</h5>
                       <h5>Writer: Zack Snyder (screenplay), Kurt Johnstad (screenplay), Michael Gordon (screenplay), Frank Miller (graphic novel), Lynn Varley (graphic novel)</h5>
                       <h5>Actors: Gerard Butler, Lena Headey, Dominic West, David Wenham</h5>
                       <h6>Plot: King Leonidas of Sparta and a force of 300 men fight the Persians at Thermopylae in 480 B.C.</h6> 
                       <h6>Awards: 16 wins & 42 nominations.</h6>
                       <h6>Country: USA</h6>
                       </div>
                       <div class="seccionP">
                         <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMwNTg5MzMwMV5BMl5BanBnXkFtZTcwMzA2NTIyMw@@._V1_SX1777_CR0,0,1777,937_AL_.jpg" class="rounded float-right" class="center" alt="300" height="210" width="210">
                       </div>
               </div>
               </div>
               </div>
               <hr>
               <div class="container">
                    <div class='conjuntoCompleto'>
                    <div class="seccionP">
                            <h3 style="text-decoration: underline;" >The Avengers</h3>
                            <h5>Director: Joss Whedon</h5>
                            <h5>Writer: Joss Whedon (screenplay), Zak Penn (story), Joss Whedon (story)</h5>
                            <h5>Actors: Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth</h5>
                            <h6>Plot: Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity.</h6> 
                            <h6>Awards: Nominated for 1 Oscar. Another 34 wins & 75 nominations.</h6>
                            <h6>Country: USA</h6>
                            </div>
                            <div class="seccionP">
                              <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTA0NjY0NzE4OTReQTJeQWpwZ15BbWU3MDczODg2Nzc@._V1_SX1777_CR0,0,1777,999_AL_.jpg" class="rounded float-right" class="center" alt="The Avengers" height="210" width="210">
                            </div>
                    </div>
                    </div>
                    <hr>
                    <div class="container">
                         <div class='conjuntoCompleto'>
                         <div class="seccionP">
                                 <h3 style="text-decoration: underline;" >Interstellar</h3>
                                 <h5>Director: Christopher Nolan</h5>
                                 <h5>Writer: Jonathan Nolan, Christopher Nolan</h5>
                                 <h5>Actors: Ellen Burstyn, Matthew McConaughey, Mackenzie Foy, John Lithgow</h5>
                                 <h6>Plot: A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</h6> 
                                 <h6>Awards: Won 1 Oscar. Another 39 wins & 134 nominations.</h6>
                                 <h6>Country: USA, UK</h6>
                                 </div>
                                 <div class="seccionP">
                                   <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjA3NTEwOTMxMV5BMl5BanBnXkFtZTgwMjMyODgxMzE@._V1_SX1500_CR0,0,1500,999_AL_.jpg" class="rounded float-right" class="center" alt="Interstellar" height="210" width="210">
                                 </div>
                         </div>
                         <hr>
                         <div class="container">
                              <div class='conjuntoCompleto'>
                              <div class="seccionP">
                                      <h3 style="text-decoration: underline;" >The Wolf of Wall Street</h3>
                                      <h5>Director: Martin Scorsese</h5>
                                      <h5>Writer: Terence Winter (screenplay), Jordan Belfort (book)</h5>
                                      <h5>Actors: Leonardo DiCaprio, Jonah Hill, Margot Robbie, Matthew McConaughey</h5>
                                      <h6>Plot: Based on the true story of Jordan Belfort, from his rise to a wealthy stock-broker living the high life to his fall involving crime, corruption and the federal government.</h6> 
                                      <h6>Awards: Nominated for 5 Oscars. Another 35 wins & 154 nominations.</h6>
                                      <h6>Country: USA</h6>
                                      </div>
                                      <div class="seccionP">
                                        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDIwMDIxNzk3Ml5BMl5BanBnXkFtZTgwMTg0MzQ4MDE@._V1_SX1500_CR0,0,1500,999_AL_.jpg" class="rounded float-right" class="center" alt="The Wolf of Wall Street" height="210" width="210">
                                      </div>
                              </div>
                              <hr>
                         <div class="container">
                              <div class='conjuntoCompleto'>
                              <div class="seccionP">
                                      <h3 style="text-decoration: underline;" >Doctor Strange</h3>
                                      <h5>Director:Scott Derrickson</h5>
                                      <h5>Writer: Scott Derrickson (screenplay), C. Robert Cargill (screenplay), Jon Spaihts (story by), Scott Derrickson (story by), C. Robert Cargill (story by), Steve Ditko (comic book)</h5>
                                      <h5>Actors: Rachel McAdams, Benedict Cumberbatch, Mads Mikkelsen, Tilda Swinton</h5>
                                      <h6>Plot: After his career is destroyed, a brilliant but arrogant and conceited surgeon gets a new lease on life when a sorcerer takes him under her wing and trains him to defend the world against evil.</h6> 
                                      <h6>Awards: N/A</h6>
                                      <h6>Country: USA</h6>
                                      </div>
                                      <div class="seccionP">
                                        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjM3ODc1ODI5Ml5BMl5BanBnXkFtZTgwODMzMDY3OTE@._V1_.jpg" class="rounded float-right" class="center" alt="Doctor Strange" height="210" width="210">
                                      </div>
                              </div>
                              <hr>
                              <div class="container">
                                   <div class='conjuntoCompleto'>
                                   <div class="seccionP">
                                           <h3 style="text-decoration: underline;" >Rogue One: A Star Wars Story</h3>
                                           <h5>Director:Gareth Edwards</h5>
                                           <h5>Writer: Chris Weitz (screenplay), Tony Gilroy (screenplay), John Knoll (story), Gary Whitta (story), George Lucas (characters)</h5>
                                           <h5>Actors:Felicity Jones, Riz Ahmed, Mads Mikkelsen, Ben Mendelsohn</h5>
                                           <h6>Plot: The Rebellion makes a risky move to steal the plans to the Death Star, setting up the epic saga to follow.</h6> 
                                           <h6>Awards: 1 nomination.</h6>
                                           <h6>Country: USA</h6>
                                           </div>
                                           <div class="seccionP">
                                             <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjE3MzA4Nzk3NV5BMl5BanBnXkFtZTgwNjAxMTc1ODE@._V1_SX1777_CR0,0,1777,744_AL_.jpg" class="rounded float-right" class="center" alt="Rogue One: A Star Wars Story" height="210" width="210">
                                           </div>
                                   </div>
                                   <hr>
                              <div class="container">
                                   <div class='conjuntoCompleto'>
                                   <div class="seccionP">
                                           <h3 style="text-decoration: underline;" >Assassin's Creed</h3>
                                           <h5>Director:Justin Kurzel</h5>
                                           <h5>Writer: Bill Collage (screenplay), Adam Cooper (screenplay), Michael Lesslie (screenplay)</h5>
                                           <h5>Actors: Michael Fassbender, Michael Kenneth Williams, Marion Cotillard, Jeremy Irons</h5>
                                           <h6>Plot: When Callum Lynch explores the memories of his ancestor Aguilar and gains the skills of a Master Assassin, he discovers he is a descendant of the secret Assassins society.</h6> 
                                           <h6>Awards: N/A</h6>
                                           <h6>Country: UK, France, USA, Hong Kong</h6>
                                           </div>
                                           <div class="seccionP">
                                             <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BN2EyYzgyOWEtNTY2NS00NjRjLWJiNDYtMWViMjg5MWZjYjgzXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_.jpg" class="rounded float-right" class="center" alt="Assassin's Creed" height="210" width="210">
                                           </div>
                                   </div>


   
            
  



