<h2 class="text-center">Cartelera Caracas</h2>
<hr>
<h3>Premieres</h3>
<hr>
        <div *ngFor="let movie of movies" class='collection'>
                <div (Click)="navigateToOtherComponent(data)">
            <div *ngIf=!movie.ComingSoon>
                <div class="container">
                    <div class='conjuntoCompleto'>
                    <div class="seccionP">
                            <h3 style="text-decoration: underline;" >{{movie.Title}}</h3>
                            <h5>Genre: {{movie.Genre}}</h5>
                            <h6>Language: {{movie.Language}}</h6>           
                            <button (Click)="navigateToOtherComponent(data)" [routerLink]="['/details']">Details</button>
                            </div>
                            </div>
                    </div>
                    <div class="seccionP">
                        
                            <img src="{{movie.Poster}}" class="rounded float-right" class="center" alt="{{movieTitle}}" height="210" width="210">
                    
                    </div>
                </div>
                </div>
            </div>
            <h3>Coming Soon</h3>
            <hr>
                    <div *ngFor="let movie of movies" class='collection'>
                        <div *ngIf=movie.ComingSoon>
                            <div class="container">
                                <div class='conjuntoCompleto'>
                                <div class="seccionP">
                                        <h3 style="text-decoration: underline;" >{{movie.Title}}</h3>
                                        <h5>Genre: {{movie.Genre}}</h5>
                                        <h6>Language: {{movie.Language}}</h6>
                                </div>
                                <div class="seccionP">
                                        <div class="img-fluid">
                                        <img src="{{movie.Poster}}" class="rounded float-right" class="center" alt="{{movieTitle}}" height="210" width="210">
                                    </div><br>
                                </div>
                            </div>
                            </div>
                        </div>
<!-- <div *ngIf="movies?.lenght > 0;else noMovies">
<ul *ngFor="let movie of movies" class='collection'>
    <li class='collection-movie'>{{movie.id}}</li>

</ul>
</div>
<ng-template #noMovies>
    <h5>No hay peliculas</h5>
</ng-template> -->