<h2 class="text-center">Cartelera Caracas</h2>
<hr>
<h3>Estrenos</h3>
<hr>
        <div *ngFor="let movie of movies" class='collection'>
            <div *ngIf=!movie.ComingSoon>
                <div class="container">
                    <div class='conjuntoCompleto'>
                    <div class="seccionP">
                            <h3 style="text-decoration: underline;" >{{movie.Title}}</h3>
                            <h5>Description: {{movie.Plot}}</h5>
                            <h6>Language: {{movie.Language}}</h6>
                    </div>
                    <div class="seccionP">
                        
                            <div class="img-fluid">
                            <img src="{{movie.Poster}}" class="rounded float-right" class="center" alt="{{movieTitle}}" height="210" width="210">
                        </div><br>
                    </div>
                    <hr>
                </div>
                <hr>
                </div>
            </div>
<!-- <div *ngIf="movies?.lenght > 0;else noMovies">
<ul *ngFor="let movie of movies" class='collection'>
    <li class='collection-movie'>{{movie.id}}</li>

</ul>
</div>
<ng-template #noMovies>
    <h5>No hay peliculas</h5>
</ng-template> -->